@using WebShopApp.Models.Cart
@model CartVM

<div class="container my-5">
    <h2>Моята количка</h2>

    @if (!Model.Items.Any())
    {
        <p>Количката е празна.</p>
    }
    else
    {
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>Продукт</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Общо</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            <img src="@item.Picture" width="60" class="me-2">
                            @item.ProductName
                        </td>
                        <td>@item.Price лв.</td>
                        <td>@item.Quantity</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <a asp-action="DecreaseQuantity"
                                   asp-route-productId="@item.Id"
                                   class="btn btn-sm btn-secondary me-2">-</a>

                                <span>@item.Quantity</span>

                                <a asp-action="IncreaseQuantity"
                                   asp-route-productId="@item.Id"
                                   class="btn btn-sm btn-secondary ms-2">+</a>
                            </div>
                        </td>

                        <td>@item.Total лв.</td>
                        <td>

                            <a asp-action="Remove"
                               asp-route-productId="@item.Id"
                               class="btn btn-danger btn-sm">
                                ✕
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h4 class="text-end">Общо: @Model.GrandTotal лв.</h4>

        <div class="text-end">
            <a class="btn btn-success">Поръчай</a>
        </div>
    }
</div>
